@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
  color: #1f2937;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
